<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- Header con fragmentación -->
  <head th:insert="~{fragments/header :: header}"></head>

  <body>
    <!-- Navbar con fragmentación-->
    <div th:insert="~{fragments/header :: navbar}"></div>

    <!-- Formulario NUEVO USUARIO-->
    <section id="formulario" class="container">
      <main>
        <article>
          <div class="formContainer">
            <h2 class="titulo" id="centrado">Editar Usuario</h2>

            <form
              method="post"
              th:action="@{/usuarios/edit/pass/submit}"
              th:object="${usuarioForm}"
              enctype="multipart/form-data"
              class="card p-4 shadow"
            >
               <!-- Id -->
              <div class="mb-3">
             <!-- <label for="id" class="form-label">Id:</label> -->
             <input type="hidden" id="id" th:field="*{id}" />
             </div>
              <!-- Nombre -->
              <div class="divForm">
                <!-- <label for="nombre" class="form-label">Nombre:</label> -->
                <input
                type="hidden"
                  id="nombre"
                  th:field="*{nombre}"
                  class="form-control"
                />
              </div>
              <!-- Password -->
              <div class="divForm">
                <label for="password" class="form-label">Nueva contraseña:</label>
                <input
                  type="password"
                  id="password"
                  th:field="*{password}"
                  class="form-control"
                />
              </div>
              <!-- Email -->
              <div class="divForm">
                <!-- <label for="email" class="form-label">email:</label> -->
                <input
                type="hidden"
                  id="email"
                  th:field="*{email}"
                  class="form-control"
                />
              </div>
              <!-- Rol -->
              <div class="divForm">
                <!-- <label for="rol" class="form-label">Rol:</label> -->
                <div th:each="rol : ${T(mag.ej05.domain.Rol).values()}">
                  <input
                  type="hidden"
     
                  />
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </article>
      </main>
    </section>

    <div th:if="${txtErr != null}" class="alert alert-warning" role="alert">
      <p th:text="${txtErr}">Texto de error</p>
    </div>

    <footer>&copy; Mercedes Amor Gallart</footer>
  </body>
</html>
