<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!-- Header con fragmentación -->
    <head th:insert="~{fragments/header :: header}"></head>


    <body>
        <!-- Navar con fragmentación-->
        <div th:insert="~{fragments/header :: navbar}"></div>

        <!-- Catálogo Libros -->
       
            <article>
                <h1 class="mb-4">Detalles Libro</h1>

                <table class="table table-striped table-bordered" th:field>
                    <thead class="table-dark">
                        <tr>
                            <th>Campo</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Id</td>
                            <td th:text="${libro.id}">Id</td>
                        </tr>
                        <tr>
                            <td>Titulo</td>
                            <td th:text="${libro.titulo}">titulo</td>
                        </tr>
                        <tr>
                            <td>Autor</td>
                            <td th:text="${libro.autor}">autor</td>
                        </tr>
                        <tr>
                            <td>Sinopsis</td>
                            <td th:text="${libro.sinopsis}">sinopsis</td>
                        </tr>
                        <tr>
                            <td>Género</td>
                            <td th:text="${libro.genero}">genero</td>
                        </tr>
                        <tr>
                            <td>Año</td>
                            <td th:text="${libro.year}">Año</td>
                        </tr>
                        <tr>
                            <td>Fecha Alta</td>
                            <td th:text="${libro.fechaDeAlta}">Fecha Alta</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-warning btn-sm" 
                                th:href="@{/libros/edit/{id}(id=${libro.id})}">Editar</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" 
                                th:href="@{/libros/delete/{id}(id=${libro.id})}"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar este libro?')"
                                >Borrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </article>

            <footer>&copy;
                <span th:text="${year}">3000</span>
                - Mercedes Amor
            </footer>
        </body>
    </html>
