<!DOCTYPE html >
<html xmlns="http://www.thymeleaf.org">

   <!-- Header con fragmentación -->
  <head th:insert="~{fragments/header :: header}"></head>

  <body>

    <!-- Navar con fragmentación-->
    <div th:insert="~{fragments/header :: navbar}"></div>

    <!-- Home -->
    <section id="home" class="container">
      <h1 class="titulo">Bienvenido a BookAdvisor</h1>
      <article class="cabecera">
        <img
          src="images/logo.png"
          alt="Logo"
          height="300px" />
      </article>
    </section>

    <footer>&copy;
      <span th:text="${year}">3000</span>
      - Mercedes Amor
    </footer>
  </body>
</html>
